* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 20px;
}

.controls button {
  background-color: darkred;
  border: 1px solid white;
  width: 100px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.grid {
  background-color: white;
  border: 2px solid red;
  width: 600px;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
}

.single-div {
  box-shadow: rgba(201, 210, 221, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  flex-grow: 1;
  flex-shrink: 1;
}
